.idea
rebar.lock
_build
deps
__pycache__
reports
TEST-*.xml
*.pyc
*.iml*
*.log
*.a
log
services/uc-vcs-adapter/uc-vcs-adapter
services/uc-vcs-adapter/src/vendor
services/user-message-store-srv/user-message-store-srv
debs/uc-user-storage/uc-user-storage
test-framework/configs/config.py
mcptt_configuration_server
/services/route-srv/route-srv
/services/access-layer-web/access-layer-web
/services/group-srv/group-srv
/services/uc-snapshot/uc-snapshot
/.run/
/services/*/src/allure-results
/services/in-srv/in-srv
/services/telegram-bot/telegram-bot
/services/.ssh/
/services/avatar-manager-srv/avatar-manager-srv
/services/email-notifier-srv/email-notifier-srv
/services/uc-auth-gateway/protei-mcptt-user-mgmt
/services/uc-plugin-srv/uc-plugin-srv
/services/uc-outlook-integration/uc-outlook-integration
/services/GO-TEMPLATE-SERVICE/GO-TEMPLATE-SERVICE
/services/certificate-sources
uc-certification-sources.tar.gz
/services/user-message-store-srv/protei-uc-seaweed-migration
/services/cdr-importer/cdr-importer